// Colors
$primary    :   #ff6633 !default;
$hover      :   #993300 !default;
$active     :   #993300;
$success    :   #5cb85c;
$budget     :   #5bc0de;
$info       :   #ffd900;
$warning    :   #f0ad4e;
$danger     :   #d9534f;
$black      :   #000000;
$darker     :   #303030;
$dark       :   #606060;
$gray       :   #999999;
$light      :   #cccccc;
$lighter    :   #eeeeee;
$white      :   #ffffff;

// Typography
$font-family:   'open-sans-regular', sans-serif, Arial !default;
$font-base  :   12px !default;
$font-xlarge:   ceil(($font-base * 1.85)) !default; // ~26px
$font-large :   ceil(($font-base * 1.25)) !default; // ~18px
$font-small :   ceil(($font-base * 0.85)) !default; // ~12px
$font-xsmall:   ceil(($font-base * 0.65)) !default; // ~10px
$font-h1    :   floor(($font-base * 2.6)) !default; // ~36px
$font-h2    :   floor(($font-base * 2.15)) !default; // ~30px
$font-h3    :   ceil(($font-base * 1.7)) !default; // ~24px
$font-h4    :   ceil(($font-base * 1.25)) !default; // ~18px
$font-h5    :   $font-base !default;
$font-h6    :   ceil(($font-base * 0.85)) !default; // ~12px

// Fonts
@font-face {
  font-family: 'open-sans-regular';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/OpenSans-Regular-webfont.woff') format('woff'),
  url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}