
@import "_variables.scss";

body {
  font-family: $font-family;

  h1 {
    font-size: $font-h1;
    margin: 2px;
    padding: 2px;
  }
}
.popup-module {
  padding: 20px;
  text-align: center;
  font

  p {
    font-size: 12px;
  }
  .popup-div {
    width: 300px;
    background-color: $white;
    padding: 25px 25px;
    text-align: left;
    font-size: 14px;
    z-index: 3;
    box-sizing: content-box;


    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;

    .popup-header {
      font-weight: bold;
      line-height: 14px;
    }
    .popup-close {
      background-color: $dark;
      color: $white;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 20px;
        :hover {
          background-color: $black;
        }
    }
  }
  .hotspot {
    color: $white;
    font-weight: lighter;
    background-color: $primary;
    border: 1px solid $primary;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hotspot:hover {
    background-color: $hover;
    border: 1px solid $hover;
    color: $white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

  }
}


