@font-face {
  font-family: 'open-sans-regular';
  src: url("../font/OpenSans-Regular-webfont.eot");
  src: url("../font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular-webfont.woff") format("woff"), url("../font/OpenSans-Regular-webfont.ttf") format("truetype"), url("../font/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "open-sans-regular", sans-serif, Arial; }
  body h1 {
    font-size: 31px;
    margin: 2px;
    padding: 2px; }

.popup-module {
  padding: 20px;
  text-align: center; }
  .popup-module font
  p {
    font-size: 12px; }
  .popup-module .popup-div {
    width: 300px;
    background-color: #ffffff;
    padding: 25px 25px;
    text-align: left;
    font-size: 14px;
    z-index: 3;
    box-sizing: content-box;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s; }
    .popup-module .popup-div .popup-header {
      font-weight: bold;
      line-height: 14px; }
    .popup-module .popup-div .popup-close {
      background-color: #606060;
      color: #ffffff;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 20px; }
      .popup-module .popup-div .popup-close :hover {
        background-color: #000000; }
  .popup-module .hotspot {
    color: #ffffff;
    font-weight: lighter;
    background-color: #ff6633;
    border: 1px solid #ff6633;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .popup-module .hotspot:hover {
    background-color: #993300;
    border: 1px solid #993300;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

/*# sourceMappingURL=modules.css.map */
